body{

margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;

}

.navbar a{

color:white;
margin-left:20px;
text-decoration:none;

}

.hero{

padding:60px;
text-align:center;
background:url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");

background-size:cover;

}

.movies{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:40px;

}

.movie-card{

background:#1a1a1a;
border-radius:10px;
overflow:hidden;
transition:0.3s;

}

.movie-card:hover{

transform:scale(1.05);

}

.movie-card img{

width:100%;
height:350px;
object-fit:cover;

}

.movie-info{

padding:15px;
text-align:center;

}

.rating{

color:gold;
margin:10px 0;

}

.movie-info button{

background:gold;
border:none;
padding:10px;
width:100%;
margin-top:6px;
border-radius:6px;
cursor:pointer;

}

.tickets{

padding:40px;
text-align:center;

}

#ticketHistory{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}

.ticket{

background:#1a1a1a;
padding:20px;
border-radius:10px;
width:220px;

}

.popup{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;

}

.popup-content{

background:#1a1a1a;
padding:20px;
border-radius:10px;

}

#seats{

display:grid;
grid-template-columns:repeat(5,40px);
gap:10px;
margin:20px;

}

.seat{

background:gray;
height:40px;
cursor:pointer;

}

.seat.selected{

background:gold;

}
